body{
    margin: 0;
    padding: 0; 
        background-repeat: no-repeat no-repeat;
          background-attachment: fixed;
          background-size: 100% 100%;
          overflow-x: hidden;
    }
    *{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box; 
    }
    
    body{
    font-family: montserrat;
    }
/* ##Navigation Bar##----------------------------------- */
nav{
    background: black;
    height: 50px;
    color: #ffffff;
    z-index: 20;
    }
    
/* ##Table-topleft##---------------------------------- */
label.logo{
    color: White;
    padding: 0 20px;
    font-size: 30px;
    line-height:50px;
    }
    
    label.logo:hover{
    color: White;
    padding: 0 20px;
    font-size: 35px;
    transition: .4s;
    cursor: pointer;
    }
/* ##Options-positioning##------------------------------------ */
nav ul{
    float: right;
    margin-right:15px;
    }
    
    nav ul li{
    display: inline-block;
    line-height: 25px;
    margin: 10px 10px;
    font-size: 18px;
    border-radius: 15px;
    padding: 1px 3px;
    text-align: center;
    text-transform: uppercase;
    }
    
    nav ul li:hover{
    border: 2px solid white;
    background: #ffffff33;
    font-size: 19px;
    border-radius: 20px;
    padding: 2px 9px;
    cursor: pointer;
    transition: .6s;
    text-align: center;
    }
/* Box---------------------------------------------- */
.bx{
	height: 94vh;
	width: 100%;
    padding: 10px;
    border: 5px solid black;
}
.bx1{
	width: 100%;
	align-items: center;
    align-content: center;
    text-align: center;
    border-radius: 15px;
    display: block;
    position: relative;
	padding-top: 5vh;
    padding-bottom: 5vh;
    margin-top: 30px;
    font-size: 35px;
	/*border: 2px solid black;*/
    transition: 0.8s;
}
.bx1:hover{
    transform: scale(1.2);
    color: rgb(207, 108, 101);
}
input{
    border-radius: 80px;
    padding: 3px 4px;
    text-align: center;
    transition: .7s;
}
input:focus{
    color: #00000080;
    font-size: 14px;
    border-color: rgb(207, 108, 101);
    text-align: center;
    background-color: rgba(199, 199, 199, 0.678);
   font-weight: bold;
}
input::placeholder{
    text-align: center;
    letter-spacing: 2px;
}
.bx2{
    width: 100%;
	align-items: center;
    align-content: center;
    text-align: center;
    border-radius: 15px;
	padding-top: 5vh;
    padding-bottom: 5vh;
    margin-top: 30px;
    font-size: 30px;
    transition: 0.8s;
	/*border: 2px solid black;*/
}
.bx2:hover{
    transform: scale(1.2);
    color: rgb(207, 108, 101);
}
.bx3{
	width: 100%;
	align-items: center;
    align-content: center;
    text-align: center;
    border-radius: 15px;
	padding-top: 5vh;
    padding-bottom: 5vh;
    margin-top: 30px;
    font-size: 30px;
    transition: 0.8s;
	/*border: 2px solid black;*/
}
.bx3:hover{
    transform: scale(1.2);
    color: rgb(207, 108, 101);
}
/*BUTTON________________________________________________________________ */
.btsub{
    text-align: center;
    align-items: center;
    align-content: center;
}
button{
    text-align: center;
    align-items: center;
    align-content: center;
    margin-top: 50px;
    padding: 6px 5px;
    font-size: 15px;
    border-radius: 5px;
    background-color: white;
    border-color: 2px black;
    cursor: pointer;
    letter-spacing: 2px;
    transition: .6s;
}
button:hover{
    color: white;
    background-color: rgba(92, 92, 92, 0.514);
    border-radius: 10px;
    letter-spacing: 3px;
}
/*RESPONSIVE_______________________________________________*/
@media all and (max-width: 960px){
    .bx1{
        transform: scale(0.9);
        margin-top: 30px;
    }
    .bx1:hover{
        transform: scale(1.0);
    }
    .bx2{
        margin-top: 30px;
        transform: scale(0.9);
    }
    .bx2:hover{
        transform: scale(1.0);
    }
    .bx3{
        margin-top: 30px;
        transform: scale(0.9);
    }
    .bx3:hover{
        transform: scale(1.0);
}
@media all and (max-width: 450px){
    label.logo{
        font-size: 20px;
    }
    label.logo:hover{
        font-size: 25px;
    }
    nav ul li{
        font-size: 12px;
    }
    nav ul li:hover{
        font-size: 13px;
}
@media all and (max-width: 300px){
        .bx1{
            font-size: 25px;
        }
        .bx2{
            font-size: 25px;
        }
        .bx3{
            font-size: 25px;
        }
        input{
            width: 85%;
        }
        label.logo{
            font-size: 15px;
        }
        label.logo:hover{
            font-size: 18px;
        }
}