body{
    margin: 0;
    padding: 0; 
    background-color: #f1e5e5;
        background-repeat: no-repeat no-repeat;
          background-attachment: fixed;
          background-size: 100% 100%;
          overflow-x: scroll;
          overflow-y:scroll;
    }
    *{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box; 
    }
    
    body{
    font-family: montserrat;
    }
/* ##Navigation Bar##----------------------------------- */
nav{
    background: black;
    height: 50px;
    color: #ffffff;
    z-index: 20;
    position: fixed ;
    width: 100%;
    }
    .nav-link.active{
        text-decoration: none;
        color: aqua !important;;
    }
/* ##Table-topleft##---------------------------------- */
label.logo{
    color: White;
    padding: 0 20px;
    font-size: 30px;
    line-height:50px;
    }
    
    label.logo:hover{
    color: White;
    padding: 0 20px;
    font-size: 35px;
    transition: .4s;
    cursor: pointer;
    }
/* ##Options-positioning##------------------------------------ */
nav ul{
    float: right;
    margin-right:15px;
    }
    
    nav ul li{
    display: inline-block;
    line-height: 25px;
    margin: 10px 10px;
    font-size: 18px;
    border-radius: 15px;
    padding: 1px 3px;
    text-align: center;
    text-transform: uppercase;
    }
    
    nav ul li:hover{
    border: 2px solid white;
    background: #ffffff33;
    font-size: 19px;
    border-radius: 20px;
    padding: 2px 9px;
    cursor: pointer;
    transition: .6s;
    text-align: center;
    }
    .outputtable{
        text-align: center;
    }
.d-flex a:hover{
    color: cadetblue;
}
.d-flex a{
    color: white;
    float: right;
    margin-right:10px;
    line-height: 25px;
    margin: 10px 10px;
    margin-top: 2px;
    background-color: #212529;
}
/* Box---------------------------------------------- */
.bx{
	height: 82vh;
	width: 100%;
    padding: 10px;
}
.bx1{
	width: 100%;
	align-items: center;
    align-content: center;
    text-align: center;
    border-radius: 15px;
	padding-top: 8vh;
    padding-bottom: 3vh;
    font-size: 35px;
/*	border: 2px solid black;*/
    transition: 0.8s;
}
.bx2{
    width: 100%;
	align-items: center;
    align-content: center;
    text-align: center;
    border-radius: 15px;
	padding-top: 2vh;
    padding-bottom: 3vh;
    margin-top: 10px;
    font-size: 35px;
    transition: 0.8s;
/*	border: 2px solid black;*/
}
label{
    transition: 0.6s;
}
.bx label:hover{
    color: rgb(207, 108, 101);
}
.radbtn{
    justify-content: space-evenly;
}
/*INPUT________________________________________________________________*/
#yesfield,#nofield{
    width:20px;
}
.bx{
    align-content: center;
    text-align: center;
    align-items: center;
}

.bx input{
    align-items: center;
    align-content: center;
    border-radius: 80px;
    padding: 3px 4px;
    text-align: center;
    transition: .7s;
    margin-top: 25px;
    padding-top: 4px;
    padding-bottom: 3px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}
.bx input:focus{
    color: #00000080;
    font-size: 14px;
    border-color: rgb(207, 108, 101);
    text-align: center;
    background-color: rgba(199, 199, 199, 0.678);
   font-weight: bold;
}
.bx input::placeholder{
    text-align: center;
    letter-spacing: 2px;
}

/*BUTTON________________________________________________________________ */
.btsub{
    text-align: center;
    align-items: center;
    align-content: center;

}
button{
    text-align: center;
    align-items: center;
    align-content: center;
    margin-top: 300px;
    padding: 6px 5px;
    font-size: 15px;
    border-radius: 5px;
    background-color: white;
    border-color: 2px black;
    cursor: pointer;
    letter-spacing: 2px;
    transition: .5s;
}
button:hover{
    color: white;
    background-color: rgba(92, 92, 92, 0.514);
    border-radius: 15px;
    letter-spacing: 3px;
    border-color: white;
}
/*TABLE_______________________________________________*/
table input:hover{
    background-color: rgb(61, 61, 61);
    color: white;
}
table a{
    text-align: center;
    align-items: center;
    text-decoration: none;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid black; 
    padding: 2px 6px;
    border-radius: 10px;
    background-color: red;
    transition: 0.5s;
}
table a:hover{
    background-color: white;
    color: red;
    border-color: red;
}
#table-div button{
    margin-left: 40px;
    margin-top: 20px;
}

/*NOT SURE_______________________________________________*/
.unk input{
    border: 10px solid blue;
    color: white;
}
#lyt{
    display: none;
}
#lyt h3{
    margin-top: 30px;
    margin-left: 10px;
}
#lyt h5{
    margin-top: 30px;
    margin-left: 10px;
}
.container.filcontainer h3{
    margin-top: 30px; 
}
.ml-5{
    margin-left: 10px;
}
.primefield {
    margin-top: 30px;
    display: none;
}
#orgtable{
    margin-left: 20px;
}
#orgtable tr th{
    color: brown;
    margin-left: -60px;
    margin-right: -50px;
}
#orgtable tr td{
    color:#000;
    font-weight: bold;
    margin-left: -60px;
    margin-right: -50px;
}
h3{
    margin-top: 30px;
}
.navbar-nav{
    margin-left: 85%;
    
}
.hh{
    height:50%;
}
.tbcnt,.tbcnt1,.tbcnt2{
    width: 90%;
    margin-left: auto;
    top:20px;
    padding-top:10px;
    padding-left:10px;
    margin-right: auto;
    overflow-y: scroll;
    overflow-x: scroll;
    border: 5px solid rgb(108, 204, 175);
    border-radius: 10px;
}
.d-flex{
	font-size: 24px;
	margin-top: 15px;
	margin-bottom: 15px;
	text-decoration: none;
	color: #000000;
}

/*RESPONSIVE_______________________________________________*/
@media all and (max-width: 960px){
    .bx1{
        transform: scale(0.9);
        margin-top: 10px;
    }
    .bx2{
        margin-top: 10px;
        transform: scale(0.9);
    }
}
@media all and (max-width: 450px){
    label.logo{
        font-size: 20px;
    }
    label.logo:hover{
        font-size: 25px;
    }
    nav ul li{
        font-size: 12px;
    }
    nav ul li:hover{
        font-size: 13px;
    }
}
@media all and (max-width: 300px){
        .bx1{
            font-size: 25px;
        }
        .bx2{
            font-size: 25px;
        }
        .bx3{
            font-size: 25px;
        }
        input{
            width: 85%;
        }
        label.logo{
            font-size: 15px;
        }
        label.logo:hover{
            font-size: 18px;
        }
}
