<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Table Creation</title>
	<link rel="stylesheet" href="tbl.css">
	<link rel="shortcut icon" href="icon.ico" type="image/x-icon">
</head>
<body>
<div id="inpt">
<nav id="navi">
	<label class="logo">Lets Create A Table</label> 
	<ul>
		<li> Logout</li>
	</ul>
</nav>
<centre>
<div class="bx">
	<div class="bx1">
    	<label class="bxx1">Enter the name of your TABLE<br></label>
		<input id="t-n" type="text" placeholder="Name of table">
	</div>
    <div class="bx2">
		<label class="bxx2">Enter the Dimensions of your table<br></label>
		<input id="id1" type="number" min="1" placeholder="Number of Rows" /><br>
		X<br>
		<input id="id2" type="number" min="1" placeholder="Number of Columns" />
	</div>
	<div class="btsub">
		<button  onclick="func()">Proceed</button>
	</div>
</div>
</centre>
</div>
<div id="table-div">
	<div id="lyt">
		<nav id="navt">
			<label class="logo">Fill it up</label> 
			<ul>
				<li> Logout</li>
			</ul>
		</nav>
		
	</div>
</div>
</body>
<style>
	table{
		border-collapse: collapse;
		margin-top: 20px;
		margin-left: 30px;
	}
	table input{
	font-size: 18px;
	line-height: 24px;	
	width: 250px;
	color: #000000BF;
	border-radius: 4px;
	border: 1px solid black;
	margin-bottom: 1px;
	}
	th input{
		color: black;
		font-size: 20px;
		line-height: 24px;
		font-weight: bold;
		text-transform: uppercase;
	}
	#lyt{
		display: none;
		color: aqua;
	}
</style>
<script>
	var tnme;
	function func(){
		document.getElementById("inpt").style.display = "none";
		document.getElementById("lyt").style.display = "block";
		var id1 = document.getElementById("id1").value;
		var id2 = document.getElementById("id2").value;
		tnme = document.getElementById("t-n").value;
		var table = document.createElement("table");
		table.id="table";
		var tr1=document.createElement("tr");
		for(var j=1; j<=id2; j++){
			var th=document.createElement("th")
			var ip1=document.createElement("input");
			ip1.type="text";
			ip1.id="ip"+ i+ j;
			th.appendChild(ip1);
			tr1.appendChild(th);
		}
		table.appendChild(tr1);
		for(var i=1; i<=id1; i++){
			var tr=document.createElement("tr");
			tr.id="tr"+i;
			for(var j=1; j<=id2; j++){
				var td=document.createElement("td");
				var ip=document.createElement("input");
				ip.type="text";
				ip.id="ip"+ i+ j;
				td.appendChild(ip);
				tr.appendChild(td);	
			}
		var rmtd=document.createElement("td");
		rmtd.innerHTML="<a href='#'>X</a>"
		rmtd.id="rmtd"+i;
		rmtd.onclick = function(){
			var tr = document.getElementById("tr" + this.id.substring(4));
			tr.parentNode.removeChild(tr);
		};
		tr.appendChild(rmtd);

		table.appendChild(tr);
		}
		document.getElementById("table-div").appendChild(table);
		var submit = document.createElement("button");
		submit.innerHTML="Submit";
		submit.onclick = table_to_array;
		document.getElementById("table-div").appendChild(submit);
	}
	function table_to_array(){
		var table = document.getElementById("table");
		var arr = [];
		var nme = [];
		var row = table.rows[0];
		var row_arr=[];
		for(var j=1; j<=row.cells.length; j++){
			row_arr.push(row.cells[j-1].childNodes[0].value);
		}
		nme.push(row_arr);
		for(var i=2; i<=table.rows.length; i++){
			var row = table.rows[i-1];
			var row_arr=[];
			for(var j=1; j<=row.cells.length -1; j++){
				row_arr.push(row.cells[j-1].childNodes[0].value);
			}
			arr.push(row_arr);
		}
		console.log(tnme);
		console.log(nme);
		console.log(arr);		
	}
</script>
</html>