<!DOCTYPE html>
<html lang="en">
	{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Table Creation</title>
	<link rel="stylesheet" href="{% static 'css/tbl.css' %}">
	<link rel="shortcut icon" href="icon.ico" type="image/x-icon">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container-fluid">
		  <a class="navbar-brand" href="#">Tablu</a>
		  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse" id="navbarSupportedContent">
			<div class=" navbar-nav"><a class="nav-link bg-dark active rounded" aria-current="page" href="{% url 'login' %}">LOGOUT</a></div>
		  </div>
		</div>
	  </nav>
	<div id="inpt">
		<centre class="d-flex">
			<div class="d-flex"><h6>Hi!</h6><br><i>{{user}}</i></div>
		</centre>
		<div class="text-center mx-auto"><h1>Welcome To Tablu</h1><small class="ml-5" >A platform for make table</small></div>
		  <centre>
		<div class="prev">
			<label for=""><a href="{% url 'folders' %}">Last Created Table</a></label>
		</div>
	
	  <div class="bx">
		  
		  <h2 class="label">Enter Tables Details</h2>
		  
		  <div class="bx1">
			  <input id="t-n"class="form-control" type="text" placeholder="Name of table">
		  </div>
		  <div class="bx2">
			  <input class="form-control" id="id1" type="number" min="1" placeholder="Number of Rows" />
			  X<br>
			  <input id="id2" class="form-control" type="number" min="1" placeholder="Number of Columns" />
		  </div>
		  <div class="tbcnt2">
		<div class="extrafields">
	  
		</div>
	</div>
	<div>
	<h4>Do You want Primary Column?</h4>
<div class="d-flex radbtn">
	<div class="custom-control custom-radio">
		<input type="radio" class="custom-control-input" name="askforprime" onclick="yesclick(this);" value="yes"id="yesfield">
		<label class="custom-control-label" for="yesfield">Yes</label>
	  </div>
	  <div class="custom-control custom-radio">
		<input type="radio" class="custom-control-input" name="askforprime" onclick="noclick(this);" value="no" id="nofield">
		<label class="custom-control-label" for="nofield">No</label>
	  </div>
</div>
</div>
		<div class="primefield container">
		  <label for="primefield">Enter column name Which you want as primary</label><br>
	  <input type="text" id="primarycol" class="form-control primefield" name="primefield" value="" required/>
		</div>
		  <div class="btsub btn">
			  <button  onclick="func()">Proceed</button>
		  </div>
	  </div>
	  </centre>
	  </div>
	  <div id="table-div">
		  <div id="lyt">
		 	<div class="bkb"><button onclick="ref()"> Back</button></div>
			<label for=""><h3>Table name:- </h3><h5 id="tblname"></h5></label>
	  		<h3>Datatypes of particular column.</h3>
		  </div>
	  </div>
	  <div class="container filcontainer">
		  <label for="">If you want to create another table instead of this please <a href="{% url 'tablu' %}" target="_blank">click here</a></label> 
		 	  <h3>Filters</h3>
			  <div id="filters" class="filter m-4">
			  <select name="columnvalue" id="columnvalue">
			  </select>
		</div>
	  </div>
	  <div class="tbcnt">
	  <div id="outtab"class="ouputtable">
	  
	  </div>
	</div>
	  <div>
		  <button id="Save" type="submit" name="urli" onclick="Export()" class="d-none btsub btn ml-4">Save As PDF</button>
		  <button id="Save1" type="submit" name="urli" onclick="historic()" class="d-none btsub btn ml-4">Save As History</button>
	  </div>
	  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.22/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>
	  <script>
		  var tnme;
		  var pricol;
		  var con=document.createElement("div");
		  con.className="tbcnt1";
		  $(".tbcnt").css("display","none");
		  $(".tbcnt1").css("display","none");
		  var dict={}
		  $(".filcontainer").css("display","none");
		  function openTab(th)
            {
                window.open(th.name,'_blank');
            }
		   function ref(){
			  location.reload();
		  }
		  function func(){
			$(".tbcnt1").css("display","block");
			  if ($("#t-n").val()=="" || ($("#id1").val()=="" && $("#id2").val()=="")){
				  alert("Please fill table name or column and row value");
			  }
			  else{
		  btn=document.createElement('button');
		  var arr2=new Array();
		  var rowval;
		  pricol=document.getElementById("primarycol").value;
			  document.getElementById("inpt").style.display = "none";
			  document.getElementById("lyt").style.display = "block";
			  var id1 = document.getElementById("id1").value;
			  var id2 = document.getElementById("id2").value;
			  tnme = document.getElementById("t-n").value;
			  var tabname=document.getElementById("tblname").innerHTML=tnme;
			  var table = document.createElement("table");
		  var arr= new Array();
			  table.id="table";
		  var count=0;
		  table.className="mx-auto"
			  var tr1=document.createElement("tr");
	  
		  $(".col-6").each(function(){
		  var type= $(this).find("select").val();
		  var k=$(this).find("input").val();
		  var div1=document.createElement("div");
		  div1.className="ml-5"
		  div1.innerHTML=k + "---->" + type;
		  dict[k]=type;
		  arr2[count]=k;
		  arr[count++] = type;
		  if (pricol==k){div1.innerHTML="Primary_column("+k+"---->"+type+")";}
		  document.getElementById("lyt").appendChild(div1);
		  var th=document.createElement("th")
		  th.innerHTML=k;
		  tr1.id="tr1"
		  tr1.appendChild(th);
		  });
	  
			  table.appendChild(tr1);
			  console.log(arr)
			  for(var i=2; i<=id1; i++){
			l=0;
				  var tr=document.createElement("tr");
				  tr.id="tr"+i;
				  rowval=i;
				  for(var j=1; j<=id2; j++){
					  var td=document.createElement("td");
					  var ip=document.createElement("input");
			  if (arr[j-1]=="Datetime"){
				ip.type="datetime-local";
			  }
			  else{ip.type=arr[j-1];}
					  ip.id="ip"+ i+ j;
					  td.appendChild(ip);
					  tr.appendChild(td);
				  }
			  var rmtd=document.createElement("td");
			  rmtd.innerHTML="<a href='#'>Delete</a>"
			  rmtd.id="rmtd"+i;
			  var rmtdval=i;
			  rmtd.onclick = function(){
				  var tr = document.getElementById("tr" + this.id.substring(4));
				  tr.parentNode.removeChild(tr);
			alert("Row Deleted");
			  };
			  tr.appendChild(rmtd);
	  
			  table.appendChild(tr);
			  con.appendChild(table)
			  }
			  document.getElementById("table-div").appendChild(con);
			  var submit = document.createElement("button");
			  submit.id="sub";
		  var add = document.createElement("button");
			  submit.innerHTML="Submit";
		  add.innerHTML="ADD ROW";
		  add.id="addbtn"
			  submit.onclick = table_to_array;
			  document.getElementById("table-div").appendChild(submit);
		  document.getElementById("table-div").appendChild(add);
		  
		document.querySelector("#addbtn").addEventListener("click", () => {
	  addRow();
	  });
	  const addRow = () => {
	  let row = document.createElement("tr");
	  rowval+=1; 
	  row.id="tr"+rowval;
	  id2+=1;
		for (var m=0;m<arr2.length;m++){
		var ip=document.createElement("input");
		ip.id="ip"+rowval+m;
		if (dict[arr2[m]]=="Datetime"){
				ip.type="datetime-local";
			  }
		else{ip.type=dict[arr2[m]];}
		let column1 = document.createElement("td");
		column1.appendChild(ip);
	  row.appendChild(column1);
	}
			var rmtd=document.createElement("td");
			rmtd.innerHTML="<a href='#'>Delete</a>"
			rmtdval+=1;
			rmtd.id="rmtd"+rmtdval;
			  rmtd.onclick = function(){
				  var tr = document.getElementById("tr" + this.id.substring(4));
				  tr.parentNode.removeChild(tr);
			alert("Row Deleted");
			  };
			  row.appendChild(rmtd);
	  document.querySelector("#table").appendChild(row);
	  };

		   }
		 }

		  function table_to_array(){
			  $(".filcontainer").css("display","block");
			  $(".tbcnt").css("display","block");
			  var table = document.getElementById("table");
			  var arr = [];
			  var columnname = [];
			  var row = table.rows[0];
			  var row_arr=[];
			  for(var j=1; j<=row.cells.length; j++){
				  if (row.cells[j-1].childNodes[0]==undefined){
					alert("please enter header of columns");
					location.reload(true);
					return;
				  }
				else{row_arr.push(row.cells[j-1].childNodes[0].textContent);}
			  }
			  columnname.push(row_arr);
			  console.log(columnname);
			  if ($("#columnvalue").children().length<columnname.length){
				for (var i=0;i<columnname[0].length;i++){
				  op=document.createElement("option");
				  op.value=columnname[0][i];
				  op.innerHTML=columnname[0][i];
				  document.getElementById("columnvalue").appendChild(op);
			  }
			  }

			  arr.push(row_arr);
			  for(var i=2; i<=table.rows.length; i++){
				  var row = table.rows[i-1];
				  var row_arr=[];
				  for(var j=1; j<=row.cells.length -1; j++){
					  row_arr.push(row.cells[j-1].childNodes[0].value);
				  }
				  arr.push(row_arr);
			  }
			  var set= new Set();
			  if (pricol!="")
			  {
			for (var i=0;i<arr.length;i++){
				if (arr[0][i]==pricol){
					for (var j=0;j<arr.length;j++)
					if (arr[j][i].length==0){
						continue;
					}
					else{set.add(arr[j][i]);}
				}
			}
			if (set.size==arr.length )
			{
			var tab=document.createElement('table');
			tab.id="orgtable"
		 	tab.className="table table-bordered"
		 	tab.border="1";
		  	for (var i=0;i<arr.length;i++){
				let r=document.createElement('tr');
				for (var j=0;j<arr[i].length;j++){
			  		if (i==0){
						let head=document.createElement('th');
						head.innerHTML=arr[0][j];
						r.appendChild(head);
			  }
			  		else{
			  			let data=document.createElement("td");
			  			data.innerHTML=arr[i][j];
			  			r.appendChild(data);
			}
		  }
		  tab.appendChild(r);
		  }
		  if ($('#outtab').children('table').length > 0 ){
			  alert("Table Updated");
			$("#outtab").children("table").remove();
			$("#outtab").children("h4").remove();
		  }
		  else{alert("table Created!");$("#outtab").children("h4").remove();}
		 $('.filcontainer').css('display','block'); 
		  document.getElementById("outtab").appendChild(tab);
		}
		else{
			$('#outtab').html('<h4 class="alert alert-danger">Primary column must contain unique values and cannot be null</h4>')
		$(".filter").css('display','none');
		}
	}
	else{
	var tab=document.createElement('table');
		 	tab.className="table table-bordered"
			 tab.id="orgtable";
		 	tab.border="1";
		  	for (var i=0;i<arr.length;i++){
				let r=document.createElement('tr');
				for (var j=0;j<arr[i].length;j++){
			  		if (i==0){
						let head=document.createElement('th');
						head.innerHTML=arr[0][j];
						r.appendChild(head);
			  }
			  		else{
			  			let data=document.createElement("td");
			  			data.innerHTML=arr[i][j];
			  			r.appendChild(data);
			}
		  }
		  tab.appendChild(r);
		  }
		  if ($('#outtab').children('table').length > 0 ){
			  alert("Table Updated");
			$("#outtab").children("table").remove();
		  }
		  else{alert("table Created!");
		  $("#Save").removeClass( 'd-none' );
		 $( '#Save' ).addClass( 'd-block' );
		 $("#Save1").removeClass( 'd-none' );
		 $( '#Save1' ).addClass( 'd-block' );
		}
		 $('.filter').css('display','block'); 
		  document.getElementById("outtab").appendChild(tab);
		}
		$('#columnvalue').change(function(){
				  $("#filters").children('div').remove();
				if(dict[$(this).val()]=="String" || dict[$(this).val()]=="Email"){
					var di=document.createElement("div");
					var ip=document.createElement("input");
					ip.className="form-control my-2 w-20 fill";
					ip.type="search";
					ip.placeholder="Search";
					di.appendChild(ip);
					var di1=document.createElement("div");
					di1.className="d-flex mt-2";
					
					var bt=document.createElement("button");
					 bt.className="btsub btn null";
					 bt.innerHTML="Check Null";
					 di1.appendChild(bt);

					 var bt=document.createElement("button");
					 bt.className="btsub btn notnull";
					 bt.innerHTML="Check Not Null";
					 di1.appendChild(bt);
					 di.appendChild(di1);
					document.getElementById("filters").appendChild(di);
					var selectitem=$(this).val();
				var mainval;
				for (var k=0;k<arr[0].length;k++){
					if (selectitem==arr[0][k]){
						mainval=k;
						break;
					}
				}
				}
				else if (dict[$(this).val()]=="Boolean"){
					var selectitem=$(this).val();
					var mainval;
					for (var k=0;k<arr[0].length;k++){
						if (selectitem==arr[0][k]){
							mainval=k;
							break;
						}
					}
					var di=document.createElement("div");
					var di1=document.createElement("div");
					di1.className="d-flex mt-2";
					var bt=document.createElement("button");
					 bt.className="btsub btn true";
					 bt.innerHTML="True";
					 di1.appendChild(bt);

					 var bt=document.createElement("button");
					 bt.className="btsub btn false";
					 bt.innerHTML="False";
					 di1.appendChild(bt); 
					di.appendChild(di1);
					document.getElementById("filters").appendChild(di);
				}
				else if (dict[$(this).val()]=="Number"){
					
					var selectitem=$(this).val();
					var mainval;
					for (var k=0;k<arr[0].length;k++){
						if (selectitem==arr[0][k]){
							mainval=k;
							break;
						}
					}
					var di=document.createElement("div");
					var ip=document.createElement("input");
					ip.className="form-control my-2 w-20 fillnum";
					ip.type="number";
					ip.placeholder="Search";
					di.appendChild(ip);
					var di1=document.createElement("div");
					di1.className="d-flex mt-2";
					 
					var bt=document.createElement("button");
					 bt.className="btsub btn eq";
					 bt.innerHTML="Check Equalto";
					 di1.appendChild(bt);

					 var bt=document.createElement("button");
					 bt.className="btsub btn noteq";
					 bt.innerHTML="Check Not Equal";
					 di1.appendChild(bt);

					 var bt=document.createElement("button");
					 bt.className="btsub btn less";
					 bt.innerHTML="Check Less than";
					 di1.appendChild(bt);

					 var bt=document.createElement("button");
					 bt.className="btsub btn greater";
					 bt.innerHTML="Check greater than";
					 di1.appendChild(bt);

					 var bt=document.createElement("button");
					 bt.className="btsub btn notnull";
					 bt.innerHTML="Check not null";
					 di1.appendChild(bt);

					 var bt=document.createElement("button");
					 bt.className="btsub btn null";
					 bt.innerHTML="Check null";
					 di1.appendChild(bt);
di.appendChild(di1);
					document.getElementById("filters").appendChild(di);
				
			}
			$(".false").click(function(){
							filter=$(".fillnum").val();
					var input, filter, table, tr, td, i, txtValue;
  table = document.getElementById("orgtable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[mainval];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue=="F" || txtValue=="f" || txtValue=="1" || txtValue==1 || txtValue=="False" || txtValue=="false") {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }       
  }	
					 });
			$(".true").click(function(){
							filter=$(".fillnum").val();
					var input, filter, table, tr, td, i, txtValue;
  table = document.getElementById("orgtable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[mainval];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue=="T" || txtValue=="t" || txtValue=="0" || txtValue==0 || txtValue=="True" || txtValue=="true") {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }       
  }	
					 });
				$(".fill").keyup(function(){
					var input, filter, table, tr, td, i, txtValue;
  filter = $(this).val();
  table = document.getElementById("orgtable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[mainval];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }       
  }
				});
				$(".eq").click(function(){
							filter=$(".fillnum").val();
					var input, filter, table, tr, td, i, txtValue;
  table = document.getElementById("orgtable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[mainval];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (parseInt(txtValue) == parseInt(filter)) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }       
  }	
					 });	
					 $(".less").click(function(){
							filter=$(".fillnum").val();
					var input, filter, table, tr, td, i, txtValue;
  table = document.getElementById("orgtable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[mainval];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (parseInt(txtValue) < parseInt(filter)) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }       
  }	
					 });
					 $(".noteq").click(function(){
							filter=$(".fillnum").val();
					var input, filter, table, tr, td, i, txtValue;
  table = document.getElementById("orgtable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[mainval];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue != filter) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }       
  }	
					 });
					 $(".greater").click(function(){
							filter=$(".fillnum").val();
					var input, filter, table, tr, td, i, txtValue;
  table = document.getElementById("orgtable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[mainval];
    if (td) {
      txtValue = td.value || td.innerText;
      if (parseInt(txtValue) > parseInt(filter)) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }       
  }	
					 });
					 $(".null").click(function(){
							filter=$(".fillnum").val();
					var input, filter, table, tr, td, i, txtValue;
  table = document.getElementById("orgtable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[mainval];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue == "") {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }       
  }	
					 });
					 $(".notnull").click(function(){
							filter=$(".fillnum").val();
					var input, filter, table, tr, td, i, txtValue;
  table = document.getElementById("orgtable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[mainval];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }       
  }	
					 });
		});
 		$("#sub").click(function(){$("#Save").removeClass( 'd-none' );
		 $( '#sub' ).addClass( 'd-block' );
		 $("#sub").click(function(){$("#Save1").removeClass( 'd-none' );
	});	
		console.log(tnme);
		console.log(columnname);
		console.log(arr);
});
}
	  $("#id2").focus(function() {
		$(".col-6").remove();
		var col=document.getElementById("id2").value;
		console.log(col);
		for(var j=1; j<=col; j++){
		$(".extrafields").append('<div class="col-6 mx-auto my-auto"><select class="dropdown"><option>String</option><option>Number</option><option>Boolean</option><option>Email</option><option>Datetime</option></select><input type="text" class="form-control" placeholder="Enter column'+j+'name"/></div>');
		}
	  });
		$("#id2").blur(function() {
			$(".tbcnt2").addClass("hh");
		  $(".col-6").remove();
		  var col=document.getElementById("id2").value;
		  console.log(col);
	  for(var j=1; j<=col; j++){
		  $(".extrafields").append('<div class="col-6 mx-auto my-auto"><select class="m-1"><option>String</option><option>Number</option><option>Boolean</option><option>Email</option><option>Datetime</option></select><input type="text" placeholder="Enter column'+j+' name"/></div>');
	  }
	  
	  });
	 function yesclick(radio){
		 $(".primefield").css("display","block");
	 } 
	 function noclick(radio){
		 $(".primefield").css("display","none");
	 } 
	  function Export() {
            html2canvas(document.getElementById('orgtable'), {
                onrendered: function (canvas) {
                    var data = canvas.toDataURL();;
                    var docDefinition = {
                        content: [{
                            image: data,
                            width: 500
                        }]
                    };
					pdfMake.createPdf(docDefinition).download(document.getElementById("tblname").textContent+".pdf");
   
            }
		});
        }
		function historic() {
			alert("History Updated!");
            html2canvas(document.getElementById('orgtable'), {
                onrendered: function (canvas) {
                    var data = canvas.toDataURL();
					$.ajax({
    url: 'tablu',
    data :{'data':data}
});
				}
				});
			}
	  </script>
</html>
